h1{
    font-size: xx-large;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: beige;
}
h3{
    font-size: 22px;
    color: dodgerblue;
    text-align: center;
}
h4
{
   font-size: 20px;
   color: brown;
   text-align: left;
}
h5
{
    font-size: 18px;
    color: darkmagenta;
    text-align: left;
}
p.speech
{
    font-size: medium;
    color: black;
}
p.direction
{
    font-size: 16px;
    color:black;
    background-color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.direction:hover
{
 color: burlywood;
 background-color: cadetblue;
}
.ADONIJAH
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color:maroon;
    text-align: left;  
}
.ADONIJAH:hover{
    filter: blur(0.7px);
    color: black;
    font-size: medium;
    text-shadow: deeppink 0.6px 0 6px;
    border-style: dotted;
}
.BETTY
{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: blueviolet;
    text-align: left;    
}
.BETTY:hover{
    filter: blur(0.7px);
    color: black;
    font-size: medium;
    text-shadow: deeppink 0.6px 0 6px;
    border-style: dotted;
}
.COTTON
{   font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color:darkmagenta;
    text-align: left;     
}
.COTTON:hover{
    filter:blur(0.9px);
    color: black;
    font-size: medium;
    text-shadow:deeppink 0.6px 0 6px;
    border-style: dotted;
}
table,
th,
td{
    text-align: center;
    white-space: nowrap;
    border: 4px solid purple;
    margin: 20px 25px 10px 15px;
    border-color: gray;
    color:blue;
}
th,
td{
    padding: 30px;
}
a:link {
    color:aqua;
  }
  
  /* visited link */
  a:visited {
    color:plum;
  }
  
  /* mouse over link */
  a:hover {
    color:darkmagenta;
    background-color:bisque;
  }
  
  /* selected link */
  a:active {
    color:darkgray;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:burlywood;
  }
  
  .active {
    background-color:mediumorchid;
  }
