h1{
    font-size: xx-large;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: beige;
}
h3{
    font-size: 22px;
    color: dodgerblue;
    text-align: center;
}
h4
{
   font-size: 20px;
   color: brown;
   text-align: left;
}
h5
{
    font-size: 18px;
    color: darkmagenta;
    text-align: left;

}
p.speech
{
    font-size: medium;
    color: black;
}
p.direction
{
    font-size: 16px;
    color:black;
    background-color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.direction:hover
{
 color: burlywood;
 background-color: cadetblue;
}
.ADONIJAH
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color:maroon;
    text-align: left;
    
}

.BETTY
{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: blueviolet;
    text-align: left;
    
}

.COTTON
{   font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color:darkmagenta;
    text-align: left;
    
    
}

